<div class="about-wrapper">
    <div class="contact-page-header">
        <div class ="lets-talk">
            <span>About Me</span>
        </div>
        <div class="line-break"></div>
    </div>
    <div class="row col-md-4 col-md-offset-4 about-me">
        <h3>Hello!</h3>
        <p>My name is Nnamdi Johnson-Kanu, and i am a web ninja!</p>
        <p>When i am not learning a new web technology, you can catch me knocking down turrets and destroying nexuses on summoner's rift. I started of my college career as a computer engineer, but i quickly discovered i am a visual person and wanted to apply my programming skills blah blah blah. More generic text here, will have to figure out a whole bunch of cool stuff to write in here.  Not sure what exactly i should write but i think this length is fine. Mybe just a little bit longer</p>
        <p>This should be the second paragraph and it should not be really long. Maybe just a few lines. More text here More text here More text hereMore text hereMore text hereMore text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here More text here. I think i still should have alittle bit more text here just to break things up  </p>
        
        <div class = "info-social">
            <a href=""><img src="../../assets/img/linkedin.png"></a>
            <a href=""><img src="../../assets/img/github.png"></a>	
        </div>
    </div>
    <div class="row col-md-2 my-pic">
        <img class="pic" src="../../assets/img/mannequin.jpg">
    </div>
</div>