<div class="contact-wrapper">
    <div class="contact-page-header">
        <div class ="lets-talk">
            <span>Lets Talk</span>
        </div>
        <div class="line-break"></div>
    </div>
    <div></div>
    <div class="row col-md-4 col-md-offset-4 contact-flex-form">
        <div class="contact-header">
            <h3 class="contact-form-header">Contact form</h3>
            <p>Please dont hesistate to contact me, if you have an questions, comments or messages!</p>
        </div>
        <form class= "contact-form">
            <div class="form-group contact-name ">
                <label for="input-name" class="col-sm-2 col-md-12 control-label contact-margin">Name*</label>
                <div class="col-sm-12 col-md-11">
                    <input type="text" class="form-control" id ="input-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group contact-email">
                <label for="input-email" class="col-sm-2 col-md-12 control-label contact-margin">Email*</label>
                <div class="col-sm-12 col-md-11">
                    <input type="email" class="form-control" id="input-email" placeholder="Email">
                </div>
            </div>
            <div class="form-group contact-subject">
                <label for="input-subject" class="col-sm-2 col-md-12 control-label contact-margin">Subject*</label>
                <div class="col-sm-12 col-md-11">
                    <input type="text" class="form-control" id="input-subject" placeholder="Subject">
                </div>
            </div>
            <div class="form-group contact-message">
                <label for="input-message" class="col-sm-2 col-md-12 control-label contact-margin">Message*</label>
                <div class="col-sm-12 col-md-11">
                    <textarea class="form-control" rows="8" id="input-message"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <div class = "row col-md-3 col-sm-3 col-xs-offset-8 contact-information">
        <h4 class="contact-form-header">Contact information</h4>
        <div class = "info-phone">
            <label class="info-label">Telephone</label>
            <span class="info-phone-number">+1 530 230 7309</span>
        </div>
        <div class="info-email">
            <label class="info-label">Email</label>
            <span href ="" class = "info-email-add">nnamdianimate@gmail.com</span>
        </div>
        <div class = "info-social">
            <a href=""><img src="../../assets/img/linkedin.png"></a>
            <a href=""><img src="../../assets/img/github.png"></a>	
        </div>
    </div>  
</div>